html {
    font-family: ;
    font-size: 16px;
    /*font-size: 1.7rem;*/
    margin: -8px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul a {
    text-decoration: none;
}

.primary-bar {
    background-color: black;
    height: 20px;
    padding: .4em;
}

.bar1 li a {
    display: block;
    float: left;
    color: grey;
    padding-right: 10px;
    position: relative;
    left: 60px;
}

.bar2 li a {
    position: relative;
    float: right;
    right: 130px;
    color: grey;
}

.primary-bar :hover {
    color: white;
}

.secondary-bar {
    padding: 1em;
}

#logo {
    position: relative;
    left: 90px;
}

.secbar-cta {
    position: relative;
    top: 5px;
    right: 3.5em;
    float: right;
    padding-left: 7em;
}

.secbar-cta li {
    display: block;
    float: left;
    font-size: 18px;
    color: grey;
    padding-right: 1.5em;    
}

span {
    font-weight:bold;
    color: black;
} 


.text1 {
    border-right: 1px solid #bbbbbb;
    width: min-content;
    position: relative;
    right: 80px;
}

.text2 {
    border-right: 1px solid #bbbbbb;
    width: min-content;
    position: relative;
    right: 40px;
}

.login-cta {
    position: relative;
    top: 10px;
}

.login-cta a {
    position: relative;
    top: -2px;
    border: 2px solid;
    border-radius: .4em;
    border-color: #4184db;
    padding: .9em 2em ;
    color: grey;
    font-size: 14px;
}

.login-cta a:hover {
    color: white;
    background: #4184db;
}

nav {
    background: #019601c2;
    margin-bottom: -114px;
}

nav ul {    
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    padding-left: 70px;
    padding-bottom: 17px;
}

.navbar li a {
    float: left;
    display: block;
    color: white;
    padding: 19px 15px 24px 15px;
    text-align: center;
    border-right: .5px solid #84c484;
    min-width: 40;
    font-weight: bold;
    position: relative;
    top: -1px;
    margin-bottom: -2px;
}

.main-nav {
    position: relative;
    top: -5em;
    margin-bottom: 10px;

}

#contact-cta {
    border: 1px;
}

#search-bar a{
    float: right;
    padding-top: 17px;
    position: relative;
    right: 6.5em;
    border: 1px;
}

.bg-img {
    background-image: url("../images/background_image.jpg");
    background-size: cover;
    border: 1px solid red;
    position: relative;
    height: 34em;
}

.bg-text {
    font-family: "poppins extrabold", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 28px;
    width: max-content;
    border: 1px solid;
    position: absolute;
    right: 0px;
}

.bg-text a {
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-color: #ff7707;
    border-radius: 4px;
    background: #ff7707;
    padding: 10px 20px;
    font-weight: normal;
}